//font,color,gutter
$baseFontFamily:16px;
$baseFontSize:16px;
$backgroundColor:#fff;
$linkColor:#fff;
$bottom:20px;

//screen
$screen-xs-max:768px;
$screen-sm-max:992px;
$screen-md-max:1200px;
$screen-lg-min:1200px;